---
import Layout from '@layouts/Layout.astro';
import ContentWithForm from '@layouts/sections/ContentWithForm.astro';
import Content from '@layouts/sections/Content.astro';

import Header from '@components/Header.astro';
import HeadshotWithName from '@components/HeadshotWithName.astro';
import Footer from '@components/Footer.astro';

var campaignPhone = "717-544-3148"
---

<Layout title="Neck and Back Pain | Lancaster General Health">
    <Header href="#" campaignPhone={campaignPhone}>
        <hgroup class="screen-reader-only">
            <h1>Lancaster General Health</h1>
            <p>Neck and Back Pain</p>
        </hgroup>
        <nav>
            <ul>
                <li><a href="#">Request Appointment</a></li>
                <li><a href="#conditions">Conditions</a></li>
                <li><a href="#treatments">Treatments</a></li>
                <li><a href="#team">Team</a></li>
            </ul>
        </nav>
    </Header>
    <main>
        <!-- Insert Sections Here -->
        <ContentWithForm id="request-appointment" class="bg-white-to-blue" formId="77" formName="">
            <hgroup slot="hgroup">
                <h2>Find Relief For Back And Neck Pain</h2>
            </hgroup>
            <section slot="copy">
                <p>If you are dealing with pain that is not getting better, the spine specialists with the Penn Medicine Lancaster General Health Neuroscience Institute are here to help.</p>
                <p>We are focused on providing you with the most accurate diagnosis and most appropriate treatment plan to relieve your back and neck pain. Our spine team includes pain management specialists, neurosurgeons, and physical rehabilitation therapists working together to guide you from evaluation through recovery.</p>
                <img src="https://lp.pennmedicine.org/-/media/f0954a75d0644cf5aabff1dd356e7bfa.ashx" class="inline-image" loading="lazy">
            </section>
        </ContentWithForm>
        <Content id="conditions" class="bg-white">
            <hgroup>
                <h2>Treating A Full Range Of Back And Neck Conditions</h2>
            </hgroup>
            <p>From common to complex, our spine specialists offer treatment for conditions and injuries including:</p>
            <ul class="two-columns">
                <li>Cervical and Lumbar Stenosis</li>
                <li>Degenerative Disc Disease</li>
                <li>Facet Joint Pain</li>
                <li>Herniated and Bulging Discs</li>
                <li>Low Back Pain</li>
                <li>Neck Pain</li>
                <li>Sacroiliac (SI) Joint Pain</li>
                <li>Sciatica (Lumbar Radiculopathy)</li>
                <li>Spinal Cord Injuries and Vertebral Fractures</li>
                <li>Spinal Deformity (ie., Scoliosis/Kyphosis)</li>
                <li>Spinal Tumors</li>
            </ul>
        </Content>
        <Content id="treatments" class="bg-blue-lightest">
            <hgroup>
                <h2>Treatment Plans Designed To Get You Back To Normal</h2>
            </hgroup>
            <p>Once your back or neck pain is accurately diagnosed, our team works with you to determine a treatment plan that is best for you. Through non-surgical and surgical treatments, our team is focused on helping you live a life not held back by pain.</p>
            <p>Our treatment plans for back and neck pain include:</p>
            <div class="card-gallery two-columns">
                <section class="card white">
                    <img src="https://img.icons8.com/ultraviolet/120/000000/physical-therapy.png" loading="lazy">
                    <hgroup>
                        <h3>Non-Surgical Treatments</h3>
                    </hgroup>
                    <ul>
                        <li>Activity/Lifestyle Modification</li>
                        <li>Bracing</li>
                        <li>Injections (Ablations, Epidurals, Nerve Blocks)</li>
                        <li>Interventional Therapies (Acupuncture)</li>
                        <li>Medication</li>
                        <li>Physical and Occupational Therapy</li>
                    </ul>
                </section>
                <section class="card white">
                    <img src="https://img.icons8.com/ultraviolet/120/000000/back-muscles.png" loading="lazy">
                    <hgroup>
                        <h3>Surgical Treatments</h3>
                    </hgroup>
                    <ul>
                        <li>Disc Replacement</li>
                        <li>Minimally Invasive Surgery</li>
                        <li>Motion Preservation</li>
                        <li>Laminectomy (Decompression)</li>
                        <li>Spinal Fusion</li>
                        <li>Tumor Removal</li>
                    </ul>
                </section>
            </div>
        </Content>
        <Content id="team" class="bg-white">
            <hgroup>
                <h2>Our Team of Specialists</h2>
            </hgroup>
            <p>Neurosurgeons, pain management specialists, and rehabilitation therapists with the Penn Medicine Lancaster General Health Neuroscience Institute take a team approach to your back and neck pain—from initial evaluation through rehabilitation.</p>
            <hgroup>
                <h3>Neurosurgeons</h3>
            </hgroup>
            <ul class="card-gallery three-columns">
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/calnan_daniel_500x672.ashx" name="Daniel Calnan, MD, PhD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/hernandez_nick.ashx" name="R. Nick Hernandez, MD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/kager_chris.ashx" name="Christopher Kager, MD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/kuhlengel_keith.ashx" name="Keith Kuhlengel, MD, FACS" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/thurmond_james.ashx" name="James Thurmond, MD" />
                </li>
            </ul>
            <hgroup>
                <h3>Pain Management Specialists</h3>
            </hgroup>
            <ul class="card-gallery three-columns">
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/reddy_madhavi_pain.ashx" name="Madhavi Reddy, MD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/roberts_robert_pain.ashx" name="Robert Roberts, III, MD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/sandusky_daniel_pain.ashx" name="Daniel Sandusky, MD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/tonthattonypain.ashx" name="Tony Ton-That, MD" />
                </li>
                <li>
                    <HeadshotWithName imgSrc="https://lp.pennmedicine.org/-/media/images/digitalcampaigns/lgh/spine/headshots/wong_andrew.ashx" name="Andrew Wong, DO" />
                </li>
            </ul>
            <hgroup>
                <h3>Advanced Practitioners</h3>
            </hgroup>
            <ul class="two-columns">
                <li>Samuel Hertig, PA-C</li>
                <li>Lisa Fedora, DNP, CRNP</li>
                <li>Pankaj Gupta, PA-C</li>
                <li>Victoria Kissinger, PA-C</li>
                <li>Brandan Lykens, PA-C</li>
                <li>Matthew Miller, RN, PA-C</li>
                <li>Sandra Moffett, PA-C</li>
                <li>Ashley Allis, CRNP</li>
                <li>Nicole Asashon, CRNP, MSN</li>
                <li>Jessica Scheib, CRNP</li>
                <li>Robert Kinsey, CRNP</li>
            </ul>
        </Content>
    </main>
    <Footer target="#" class=""/>
</Layout>