---
import LayoutThankyou from '@layouts/LayoutThankyou.astro';
import Header from '@components/Header.astro';

var campaignPhone = "215-316-5052"
var campaignTel = "tel:" + campaignPhone.replaceAll("-","");
---

<LayoutThankyou title="Breast Cancer Risks and Prevention | Penn Medicine">
    <Header href="/cancer/breast-risk-prevention" campaignPhone={campaignPhone}>
        <hgroup class="screen-reader-only">
            <h1>Penn Medicine</h1>
            <p>Breast Cancer Risks and Prevention</p>
        </hgroup>
    </Header>
    <main>
        <section id="thank-you" class="bg-white">
            <div class="content">
                <section>
                    <hgroup>
                        <h2>Thank you!</h2>
                    </hgroup>
                    <p>We received your request to schedule a mammogram. A member of our team will call you back between 8:30 am and 5 pm, Monday through Friday, to help you schedule. </p>
                    <p>If you require immediate assistance, please call us at <a href="tel:8007897366">800-789-7366</a>. </p>
                </section>
            </div>
        </section>
    </main>
</LayoutThankyou>