img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

img.inline-image {
    display: none;
    border-radius: var(--border-radius);
}
.iframe-container {
    max-width: 100%;
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    img.inline-image {
        display: inline-block;
    }

    .iframe-container {
        padding-top: 56.25%;
    }
}
