---
export interface Props {
  class: string;
  target: string;
}

const { target, class: className } = Astro.props;
---

<footer class={className}>
    <a href={target} class="button large green">
        <slot>Request an Appointment</slot>
    </a>
</footer>