---
import Form from '@components/Form.astro';

export interface Props {
	id: string;
	class: string;
    formId: string;
    formName: string;
}

const { id, class: className, formId, formName } = Astro.props;
---
<section id={id} class={className}>
    <div class="two-columns">
        <slot name="hgroup"/>
        <slot name="copy"/>
        <section id="form-container">
            <div>
                <slot name="form-heading">
                    <hgroup>
                        <h3>Request an Appointment</h3>
                    </hgroup>
                </slot>
                <slot name="form-copy"/>
                <Form formId={formId} formName={formName}></Form>
            </div>
        </section>
    </div>
</section>