h1 {}

h2 {
    color: var(--blue-dark);
    font-weight: 800;
    font-size: 2em;
    line-height: 1;
    margin-bottom: calc(var(--typography-spacing) * 2);
}
h3 {
    color: var(--blue);
    font-size: var(--size-4);
    line-height: 1;
    margin-bottom: var(--typography-spacing);
}

section ul {
    margin-bottom: var(--typography-spacing);
}
@media (min-width: 640px) {
    section ul.two-columns {
        columns: 2;
    }
}
